# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/

# SQLite Database (wichtig, da die DB lokal im Flux-Volume generiert und persistiert wird)
*.db
*.sqlite
*.sqlite3

# IDEs
.vscode/
.idea/
